<main id="article">
    <h1>
        <span class="title">Magyarország a két világháboru korábban</span>
    </h1>

    <section>
        <h2>I.Világháború:</h2>

        <p class="bkezd">1914 őszétől frontvonalak alakultak ki háború Magyarország határainál:</p>
        <ol type="A" id="lista">
            <li>Keleti front:</li>
            <ul id="lista">
                <li>Az orosz hadsereg Galícia elfoglalása után betört Észak - Kelet Magyarországra a Vereckei-hágón
                    keresztül</li>
                <li>csak 1915 májusában a gorlicei áttörés hatására sikerült visszaszorítani őket</li>
            </ul>
            <li> Balkáni front:</li>
            <ul>
                <li>1914-ben az OMM csapatai két sikertelen támadást intéztek Szerbia ellen, és csak 1915 végén Bulgária
                    hadba lépése után sikerült legyőzni.</li>
            </ul>
            <li>Alpesi front:</li>
            <ul>
                <li>1915-ben, Olaszország hadba lépett az antant oldalán, ezért a keleti fronton győztes katonákat
                    áthelyezték az alpesi frontra a Doberdó -> Isonzó térségébe. 1917 októberében a caporettói áttörés révén
                    új frontvonal alakult ki a Piave folyó térségében.</li>
                <li>1916 novemberében meghalt I. Ferenc József király. Utóda IV. Károly különbéke kötésére tett sikertelen
                    kísérlete után, a Monarchia föderalisztikus átszervezését tervezte (közös államszövetség, népek
                    önállóságának megadása, közös uralkodó és hadsereg, stb). Ezért 1918 októberében manifesztumban
                    szólította fel a Monarchia népeit nemzeti tanácsok alapítására.</li>
            </ul>
        </ol>
    </section>

    <section>
        <h2>I.Világháború után:</h2>
        <p class="bkezd">1918 őszén Magyarországon alapvető politikai változások történtek:</p>
        <ul id="lista">
            <li>A nép a háborút kirobbantó politikai elit lecserélését követelte.</li>
            <li>A nemzetiségek megfogalmazták elszakadási törekvéseiket.</li>
            <li>1918. október 16-án IV. Károly császár manifesztuma (kiáltvány), szövetséges állam létrehozását tartalmazta.
            </li>
            <li>1918. október 23-án megalakult a Magyar Nemzeti Tanács. Alapítói: a Károlyi-féle Függetlenségi Párt</li>
            <li>Elnökévé Károlyi Mihályt választották.</li>
            <li>IV. Károly november 13-án lemondott az államügyek intézéséről</li>
            <li>November 16-án a Nemzeti Tanács kihirdette a köztársaságot, majd Károlyi Mihályt köztársasági elnökké
                választották.</li>
        </ul>
    </section>

    <section>
        <h2>II.Világháború:</h2>
        <a href="{{dir}}/img/vh.jpg" target="_blank">
            <img src="{{dir}}/img/vh.jpg" alt="elosztás">
        </a>
        <ul id="lista">
            <li>1941. június 27.: Belépés a háborúba</li>
            <li>Magyarország 1941 nyarán belépett a háborúba a tengelyhatalmak oldalán.</li>
            <li>A belépéshez már csak egy megfelelő ürügy kellett, a kassai bombázás:</li>
            <ol type="1">
                <li>1941. június 26-án ismeretlen gépek bombázták Kassát. Másnap Bárdossy</li>
                <li>László miniszterelnök bejelentette a parlamentben, hogy a bombázók szovjet gépek voltak Magyarország
                    hadat üzent a Szovjetuniónak és ezzel belépett a háborúba.</li>
                <li>A magyar csapatokat Hitler a Szovjetunió elleni háborúhoz használta fel:1941 nyár-ősz: az ún.
                    gyorshadtest bevetése</li>
            </ol>
            <li>Magyarország veresége: A 2. magyar hadsereg megsemmisülése után Horthy titkos tárgyalásokba kezdett az
                angolszászokkal a németek többé nem bíztak a magyar szövetségben, ezért 1944. március 19-én a „Margaréta
                terv” alapján megszállták az országot. </li>

            <li>A megszállás következményei: áprilistól angol bombatámadások Magyarország ellen. megindult a zsidóüldözés az
                ország gazdasági kirablása (nyersanyag, munkaerő, közlekedés). az 1. magyar hadsereget frontra küldték</li>

            <li>1944. október 15.: Horthy rádióbeszédben jelentette be, hogyfegyverszünetet kér, a németek parancsait ne
                kövesse a hadsereg később német nyomásra mindent visszavont. Lemondott, miután a nyilas párt vezetőjét,
                Szálasi Ferencet nevezte ki miniszterelnökké.</li>
            <li>Szálasi Ferenc:A zsidó gettók felállítása, tömeges kivégzések a Dunába lövés módszerével anyagi és
                kulturális javak elhurcolása</li>
            <li>A háború vége: Magyarország szovjet megszállása:</li>
            <ol type="1">
                <li>A szovjet megszállásra négy lépésben került sor;</li>
                <li>Debreceni hadműveletek: tankcsata 1944. október 6-tól 29-ig.</li>
                <li>A 2. ukrán front Malinovszkij vezetésével elfoglalta a Tiszántúlt.</li>
                <li>Budapest ostroma decembertől február 13-ig.</li>
                <li>A Dunántúl elfoglalása</li>
            </ol>
            <li>Magyar miniszterelnökök a II. világháború alatt:</li>
            <ol type="I">
                <li>1938-39: Imrédy Béla</li>
                <li>1939-41: Teleki Pál gróf</li>
                <li>1941-42: Bárdossy László</li>
                <li>1942-44: Kállay Miklós</li>
            </ol>
        </ul>
    </section>

    <section>
        <h2>Források</h2>
        <ul>
            <li>
                Murvai Mónika
            </li>
        </ul>
    </section>

</main>