<main id="article">
    <h1>
        <span class="title">Rákosi Korszak</span>
        <span class="sub-title">(1948 (vagy 1949) - 1953 (vagy 1956))</span>
    </h1>

    <section>
        <h2>A megtorlás</h2>
        <p>
            A Moszkvában kiszemelt új vezető,
            Kádár János – a jelentősebb felkelőközpontok felszámolását kivárva – 1956. november 7-én érkezett Budapestre.
            Ezzel kezdetét vette az 1956-tól egészen 1989-ig tartó Kádár-rendszer időszaka. Kádár a kihirdetésekor még csak
            papíron létező Forradalmi Munkás-Paraszt Kormány élén
            nem rendelkezett tényleges hatalommal. Nagy Imre nem
            mondott le, de közvetlen munkatársaival együtt Jugoszlávia
            budapesti követségére menekült. A harcokban részt vevők
            jelentős része a megtorlásoktól tartva Nyugatra menekült,
            és követte őket a demokratikus átalakulás reményében csalódottak tömege is (több mint 200 ezren hagyták el az országot). A menekültek döntő többsége Ausztriába távozott, ahol
            menekülttáborokban várták a különböző országokba utazás
            lehetőségét. Az egyes országok „kvótákat” adtak meg, azaz
            meghatározott számú menekültet fogadtak csak be.
        </p>
        <p>
            <img src="./images/138.png">
            A tényleges hatalmat a Szovjet Hadsereg gyakorolta.
            A magyar társadalom döntő többsége elutasította az új rezsimet. Aktív politikai ellenállást a munkástanácsok fejtettek ki, melyek a forradalom bukása után nem oszlottak fel, s
            az egyre fokozódó támadások ellenére kitartottak, sőt szorosabbra vonták kapcsolataikat, létrehozták a Nagy-budapesti Központi Munkástanácsot. A hatalom kezdetben nem
            csapott le rájuk teljes erővel, mivel magáról azt hirdette,
            hogy a munkáshatalom védelmében lép fel. Így Kádár és
            több vezető is személyesen tárgyalt a tanácsok vezetőivel.
            A munkástanácsok befolyását növelte, hogy felhívásukra a
            gyárak jelentős része sztrájkba lépett, melyhez a budapesti
            tömegközlekedés dolgozói is csatlakoztak.
        </p>
        <p>
            A kádári rezsim lassan megszervezte saját karhatalmi bázisát volt ÁVH-sokból és a forradalomban részt nem vett
            kommunistákból. Nevüket a Szovjet Hadseregben rendszeresített vattabélésű kabátról, a pufajkáról kapták (pufajkások). Belőlük szervezték meg 1957-ben a párthadsereget, a
            munkásőrséget. Ezután az MSZMP 1956. decemberi pártértekezlete ellenforradalomnak minősítette a forradalmat.
            Szintén decemberben rendeletben feloszlatták a munkástanácsokat. Kádár vezetőiket a parlamentbe hívta, ahol letartóztatták őket, és többségüket szabadságvesztésre ítélték.
        </p>
        <p>
            Decemberben egy sor tüntetést fojtott vérbe – szó szerint – az új hatalom, miután a december eleji pártértekezlet
            szellemében Marosán György – Kádár kormányának egyik
            tagja – kiadta a jelszót: „Mától kezdve lövünk!” December
            6-án Budapesten, a Nyugati pályaudvarnál lezajlott provokatív vörös zászlós tüntetés fajult verekedéssé, majd több halálos áldozatot követelő lövöldözéssé. 8-án Salgótarjánban
            golyózáport zúdítottak a fegyvertelen tömegre, mely félszáznál is több halálos áldozattal járt. 10-én Miskolcon, 11-én (és
            12-én) Egerben voltak halálos áldozatokat is követelő tüntetések. A karhatalmi alakulatokat bevetették még többek
            között Pécsett, Gyomán, Kevermesen, Gyulán, Tinnyén, Zalaegerszegen és Hódmezővásárhelyen. Volt, ahol repülőgépről
            lőttek a tömegre (pl. Barcs, Csongrád, Kecskemét, Keszthely,
            Kiskőrös). A decemberi karhatalmi erőszak következtében
            több mint 80 személy vesztette életét. 
        </p>
        <p>
            1957-től megkezdődtek a forradalom résztvevői elleni perek, melyek nyomán több mint 300 forradalmárt kivégeztek,
            22 000 embert ítéltek szabadságvesztésre és 13 ezret internáltak. A perbe fogottak hozzátartozói megbélyegzettek,
            diszkrimináltak lettek, akkor is, ha végül megszüntették ellenük az eljárást. (Például gyermekeik a hatvanas évek közepéig nem nyerhettek felvételt a főiskolákra és az egyetemekre.)
            A forradalomban részt vevő vezető politikusokat csak később
            állították bíróság elé, és pereiket teljes titoktartás mellett
            folytatták le. Nagy Imrét és társait a jugoszláv követségről kicsalták, s Romániába szállították. Mivel együttműködésre
            egyiküket sem tudták rábírni, hazakerültek, és 1958-ban zárt
            tárgyaláson ítélték el őket. Nagy Imrét, Maléter Pált, Gimes
            Miklóst és Szilágyi Józsefet kivégezték, Losonczy Géza a per
            előtt fogságban, kényszertáplálás következtében halt meg,
            további társaik több éves börtönbüntetést kaptak.
        </p>
        <p>
            A későbbiekben a forradalom tabuvá vált, s ellenforradalomként is csak a kiválasztottak szólhattak róla, akik a történteket mindvégig elferdítették. Ahogy telt az idő, úgy vált a
            forradalom a hivatalos történetírás lapjain köztörvényes bűnözők kegyetlenkedéseivé.
        </p>
    </section>

    <section>
        <h2>A pártállam megszilárdítása</h2>
        <p>
            A forradalom leverése, majd a kegyetlen megtorlások egyre több emberben keltették azt a meggyőződést, hogy a szovjetek által
            hazánkra kényszerített államszocializmus nemzedékeken át
            fennmarad. A rendszer restaurációja közepette a lakosság
            jelentős része kényszeredetten tudomásul vette, hogy – ha
            az itthon maradás mellett döntött – a túlélésre kell berendezkednie. Ez és a félelem is közrejátszott abban, hogy 1957.
            május 1-jén tömegtámogatást mutató sokaság vonult fel Budapesten. Ez év tavaszán alakult meg a Kommunista Ifjúsági
            Szövetség (KISZ), hogy fokozzák a forradalomban tömegesen
            részt vevő ifjúság kommunista nevelését és ellenőrzését. Az
            általános iskolákban ezt a szerepet a már korábban létrejövő
            úttörőmozgalom töltötte be.
        </p>
        <p>
            <img src="./images/141.jpg">
            Kádár a magyar népnek a forradalomban kinyilvánított ellenszenvét kihasználva megakadályozta Rákosi visszatérését
            Magyarországra, s legközvetlenebb követőit is fokozatosan
            kiszorította a hatalomból. Néhány kivételtől eltekintve nem
            ítélték el a Rákosi-korszakban törvénytelenséget elkövető
            politikusokat. A legismertebb vezetők – Gerő Ernő, Farkas
            Mihály, Révai József, Péter Gábor stb. – nem kerültek vissza
            a pártvezetésbe. Az ÁVH jelentősebb vezetőinek egy része a
            Belügyminisztériumból kikerült, de a magyar kulturális élet
            területén – rádió, televízió, színház, könyvkiadás – megfelelő
            posztokat kaptak. A rendszer egyik viszonyítási pontjává vált
            a Rákosi-rendszer, amelynek nyomorához, nyílt terrorjához
            képest a kádári diktatúra enyhébbnek, élhetőbbnek látszott.
        </p>
        <p>
            pest a kádári diktatúra enyhébbnek, élhetőbbnek látszott.
            Így a forradalomból okulva a párt vezetői óvakodtak a személyi kultusz felelevenítésétől, a – látványos és naponkénti –
            politikai aktivitás kikényszerítésétől, és fokozatosan mérsékelték a terroruralom törvénytelenségeit. Jelszószerűen ez
            úgy hangzott, hogy „Aki nincs ellenünk, az velünk van”. Ez a
            hatalompolitikai korrekció előmozdította a rendszer megszilárdulását, anélkül, hogy annak lényege, az egypárti uralom
            változott volna. De aki a fő vonaltól eltért, netán szembement vele, az a későbbiekben is megismerte a diktatúra valódi arcát.
        </p>
        <p>
            1963-ban komoly nemzetközi nyomásra, cserébe azért,
            mert a „magyarkérdést” levették az ENSZ Közgyűlésének napirendjéről, Kádárék itthon amnesztiát hirdettek. Az ’56-os
            elítéltek zömét szabadon bocsátották. Ezzel párhuzamosan
            az MSZMP-n belül háttérbe szorították a sztálinistákat. Fenntartották ugyanakkor – az előző évtizedből is ismert – kiterjedt besúgóhálózatot a társadalom minél szélesebb körének
            folytatólagos megfigyelésére. Szinte az egész társadalmat folyamatosan ellenőrizte ügynökein keresztül a hírhedt III/IIIas ügyosztály. Emberek tömegeit kényszerítettek zsarolással
            arra, hogy környezetükről – az egyszerű emberektől a híres
            művészekig – jelentéseket készítsenek.
        </p>
    </section>

    <section>
        <h2>A hamis társadalmi béke - A Kádári alku</h2>
        <p>
            A Kádár János vezette MSZMP az 1960-as évektől
            – kezdetben Hruscsov szovjet pártvezető támogatásával –
            olyan politikát kívánt folytatni, mellyel a magyar lakosság és
            a nemzetközi közvélemény számára is bizonyítani lehetett a
            szocializmus életképességét. Meghatározó szempont volt az
            életszínvonal évenkénti mértékletes emelése és az alapvető
            fogyasztási szükségletek kielégítésének biztosítása. Úgy gondolták, hogy ezzel helyettesíthetik a politikai szabadságot, és
            politikailag passzívvá teszik a kommunista rendszerrel 1956-
            ban szembeforduló lakosság jelentős részét.
        </p>
        <p>
            A hatvanas évek elejétől a társadalommal szembeni békülékenység, az „osztályharcos szemlélet” háttérbe szorulása
            határozta meg a Kádár János vezette párt hatalomgyakorlását. E politika jegyében a hatalom „megegyezés” címén ráerőltette akaratát a társadalomra. A kádári „paktum” tehát
            egyoldalú volt, a több évtizedes megpróbáltatás után a lakosság többsége mégis beletörődéssel fogadta a hatalom békülékenységét, „kiegyezési” szándékát. Tudomásul vették, ha
            lemondanak a párt politikájának nyílt bírálatáról, az ellenzéki
            politizálásról, akkor magán- és családi életük zaklatásmentes
            lehet, sőt a szerény anyagi gyarapodásra is van esély (pl. saját
            lakáshoz juthat, 4-5 év várakozás után megvásárolhat egy
            gépkocsit, 3 évente utazhat Nyugatra, vásárolhat kis saját telket). Az „élni és élni hagyni” politikája megteremtette a hatalom és a társadalom nagyobb konfliktusok nélküli együttműködését.
        </p>
        <p>
            Ugyanakkor folytatódtak a vallás- és egyházellenes intézkedések, amelyek a vallásos emberek megfélemlítését is
            szolgálták. A kádári diktatúra is nagyon sok papot figyeltetett
            meg, és több tucatot börtönbe zártak. (Közülük Lénárd Ödön
            atya csak 1977-ben szabadult.)
        </p>
    </section>

    <section>
        <h2>A mezőgazdaság átszervezése - Az erőszakos téeszesítés</h2>
        <p>
            A forradalom tanulságaként a pártvezetés kiemelten kezelte az életszínvonal kérdését. A politikai stabilizáció érdekében alapvetőnek tekintették a mindennapi megélhetés szerény, de folyamatos
            javítását.
        </p>
        <p>
            <img src="./images/148.jpg">
            A forradalom okozta gazdasági problémák (termeléskiesés, pusztulás) megoldását a szocialista tömb országai által
            nyújtott jelentős pénz- és áruhitel segítette. A gazdasági tervekben csökkentették a beruházások arányát az életszínvonal emelésére szánt forrásokhoz képest, és nem erőltették
            a korábbiakhoz hasonló mértékben az alapanyag-termelő
            ágazatok (pl. bányászat, kohászat) fejlesztését. A nehézipar
            azonban – a vegyipar irányába elmozdulva – továbbra is elsőbbséget élvezett.
        </p>
        <p>
            1956 után rövid ideig a rendszer biztosította az egyéni parasztgazdaságok működési feltételeit, de célkitűzése ezután
            is a mezőgazdaság teljes kollektivizálása maradt. A mezőgazdaság ún. szocialista átalakítását (téeszesítés) azért erőltették továbbra is, mert a kisgazdaságoknál magasabb rendűnek vélték a mezőgazdasági nagyüzemeket, s mert a
            mezőgazdaságból kívánták biztosítani az iparosításhoz szükséges munkaerőt. Fontosnak tartották a magántulajdonon
            alapuló paraszti önállóság fölszámolását, hiszen az a parasztság számára az államtól, a hatalomtól jelentős függetlenséget biztosított. S továbbra is jelentős szerepet játszott a szovjet és más szocialista országok példájának a követése és az
            elvárásának való megfelelés.
        </p>
        <p>
            1959 és 1961 között hajtották végre a mezőgazdaság újbóli kollektivizálását. A termelőszövetkezetek (tsz) szervezése most sem volt mentes az erőszaktól, emellett azonban a
            kormányzat igyekezett megnyerni a parasztokat: kedvezményeket nyújtottak, gépeket biztosítottak a gazdálkodáshoz,
            kiterjesztették a társadalombiztosítást a termelőszövetkezeti parasztságra. Jelentősen csökkentette az ellenállást az,
            hogy – a szovjet modellel ellentétben – lehetővé vált a háztáji gazdálkodás: munkaidő előtt és után a tsz-tagok állatot
            gondoztak, szántóföldön, kertben vagy később fóliasátorban
            dolgoztak. Ezáltal a magyar parasztság nem idegenedett el
            – a szovjet kolhozzal ellentétben – a munkától. Alapvető volt
            a kormány sikerében az 1956-os forradalom leverésének a
            ténye. A parasztgazdák számára nyilvánvalóvá vált, hogy a
            szovjetek, s ezzel az általuk az országra kényszerített rendszer
            tartós marad, s családjaik túléléséhez be kell adniuk a derekukat. 
        </p>
        <p>
            A magyar parasztság rengeteg munkával túlélte azt, hogy
            vagyonának nagy részétől megfosztották. A termelőszövetkezetek és a háztáji magángazdaságok – mindinkább békés –
            egymás mellett élése a kényszerűségen túlmenően idővel elfogadottá lett, ami a gazdatársadalomnak a rendszerbe való
            betagozódását is elősegítette. Hosszabb távon ugyanakkor a
            hagyományos paraszti életforma – és a falu – tömeges elhagyásához vezetett, főként a következő generáció körében.
        </p>
        <p>
            A fenti módszerrel a téeszek szervezése – ellentétben az
            1950-es évek elejével – kevésbé járt a mezőgazdasági termelés visszaesésével, és később biztosította az ország jónak
            mondható élelmiszer-ellátását, ami a korszak életszínvonalpolitikájának egyik tartópillérévé vált. Éppen ezért a párt a
            későbbiekben is támogatta, illetve nem akadályozta a mezőgazdaság fejlődését.
        </p>
    </section>
</main>