<main id="article">
    <h1>
        <span class="title">II. világháború</span>
    </h1>

    <section>
        <p><b>1939. szeptember 1-én</b> Németország megtámadja Lengyelországot. A szövetségesek válaszul megtámadják
            Németországot. Furcsa háború: egy bizonyos időszakig nem volt háború egy fronton.
            1939. szept 17-én Szovjetunió megtámadta Lengyelországot keletről, térségét felosztották a németekkel.</p>

        <!--
        <div class="embed-responsive embed-responsive-16by9">
        <video width="1000" height="600" controls class="embed-responsive-item">
            <source src="videok/A 2. világháború kezdete _ National Geographic.mp4" type="video/mp4">
        </video>
        </div>
        -->

        <p>1939. november: Téli háború, Szovjetunió megtámadta Finnországot, Leningrádtól északnyugatra és nyugatra eső
            területeket elfoglalták.

            1940. április Hitler elfoglalta dániát és norvégiát, blokád veszély alakult ki. Quisling: A norvég kollaboráns
            kormány vezetőjéről nevezték el az ellenséggel együttműködő politikusokat.

            1940 május Belgium Hollandia lerohanása. Európában villámháború történt, gyors győzelem bizonyos országok
            felett, pár napos. Dunkirk-ben a brit egységek beszorultak, brit halászok kimenti a katonákat.
            1940 június eleje Franciaország kapitulál. Június 22-én fegyverszünetet kötnek a németekkel, Vichy-bábállam,
            kollaboráns kormány jött létre Pétrian vezetésével, Olaszország belép június 10-én a háborúba.</p>
    </section>

    <section>
        <h2>Charles de Gaulle(francia ellenállási mozgalom)</h2>

        <img src="{{dir}}/img/DeGaulle.jpg">
        
        <p>1940 május-ban lett Winston Churchill miniszterelnök Angliában. Brit radar rendszer használata az angliai
            csatában döntő fontosságú volt 1940 nyarán.</p>
    </section>

    <section>
        <h2>Winston Churchill miniszterelnök</h2>

        <img src="{{dir}}/img/Churchill.png">

        <p>1940 szeptember: 3 hatalmi egyezmény megkötése Németország, Olaszország, és Japán között. 10 évre szóló
            segítségnyújtástés érdekszférák elhatárolását jelentette.</p>
    </section>
        
    <section>
        <h2>Észak afrikai hadszíntér:</h2>
        <p>1940 Olasz támadás Egyiptom ellen de az is sikertelen. Afrikakorps: a németek küldik az afrikai hadszíntérre az
            olaszok kisegítésére. A támadást Erwin Rommel “sivatagi róka” vezényelte ami sikeres volt, a Britek
            visszavonultak Egyiptomba. </p>
    </section>

    <p>1940 október Olaszország megtámadja Görögországot, de sikertelen offenzíva. Jugoszlávián keresztül a Német
        hadsereg megtámadja Görögországot</p>

    <section>
        <h2>1941 Kölcsönbérleti törvény</h2>
        <p>Az USA bármilyen nyersanyagot, utánpótlást biztosít azon országoknak amelynek győzelme fontos akár kölcsön vagy
            ingyen</p>
    </section>

    <section>
        <h2>1941 június 22. Barbarossa hadművelet</h2>
        <p>Németország megtámadta a Szovjetuniót, Németek célja elfoglalni Sztálingrádot, Moszkvát, Leningrádot de
            sikertelen lett a hadművelet vége. A szovjetek előnyei: a németek hosszú utánpótlási útvonala, új fegyverzetek
            például T34 harckocsi, Katyusa rakétavető kocsi, partizánok a németek által elfoglalt területeken.</p>

        <p>1941 augusztus Atlanti Charta résztvevők: Roosevelt, Churchill, Sztálin. A háború utáni rendezésről tárgyaltak,
            annexió nélküli béke céllal.</p>
    </section>

    <section>
        <h2>Csendes-óceáni hadszíntér:</h2>
        <p><b>1941 december 7-én</b> japán bombázók az USA Csendes-óceáni flottájának nagy részét harcképtelenné tették.
            Ezzel elkezdődött Japán diadalmas 100 napja, de USA is belépett a második világháborúba.</p>

        <!--
        <div class="embed-responsive embed-responsive-16by9">
            <video width="1000" height="600" controls class="embed-responsive-item">
                <source src="videok/The Attack on Pearl Harbor.mp4" type="video/mp4">
            </video>
            </div>
        -->
    </section>


    <section>
        <h2>1942 fordulat éve, mind 3 hadszíntéren sikerül a tengelyhatalmakat megállítani.</h2>
        <p>1942 június Midway szigetek az USA elsüllyeszt 4 japán repülőgép-hordozó anyahajót. Békaugrás taktika: szigetről
            szigetre foglalja vissza az USA a Csendes-óceáni területeit.</p>

        <!--
        <div class="embed-responsive embed-responsive-16by9">
            <video width="1000" height="600" controls class="embed-responsive-item">
                <source src="videok/Kamikaze Attack - Battle of Okinawa.mp4" type="video/mp4">
            </video>
        </div>
        -->
    </section>

    <figcaption>Kamikaze = <b>öngyilkos japán pilóta</b> </figcaption>

    <section>
        <h2>Keleti front:</h2>
        <p><b>1942 szeptember - 1943 február Sztálingrádi csata</b> a szovjet csapatok felülkerekednek a tengelyhatalmi
            seregeken és ellentámadást indítottak ezzel együtt bekerítették a német sereg jelentős részét, <b>Paulus
                tábornokkal</b> együtt</p>
    </section>

    <section>
        <h2>Észak afrikai hadszíntér:</h2>
        <p>1942 október El-Alamein: Rommel ←→ Montgomery, Brit túlerő angol győzelem, németek kivonulnak Észak-Afrikából.
            1942 november szövetségesek partra szállnak Marokkóban Eisenhower vezetésével</p>

        <p> Csiga offenzíva Olaszországban a szövetségesek nagyon lassan nyomulnak előre</p>
    </section>

    <section>
        <h2>Atlanti csata</h2>

        <img src="{{dir}}/img/Normandy.jpg">
        <p>Német tengeralattjárók (U-boat) süllyesztenek el szövetséges hadihajókat. Farkasfalka taktika: konvoj
            felfedezése után német tengeralattjárók elsüllyesztik a konvojt</p>

        <!--
        <div class="embed-responsive embed-responsive-16by9">
            <video width="1000" height="600" controls class="embed-responsive-item">
                <source src="videok/WW2 - The Battle of the Atlantic [Real Footage in Colour].mp4" type="video/mp4">
            </video>
        </div>
        -->
    </section>
    <section>
        <h2>1943 kurszki tankcsata</h2>
        <p>
            A német sereg kénytelen folyamatosan visszavonuli.
            1943 november Teherán résztvevők: Roosevelt, Churchill, Sztálin. 2. front megnyitása Észak-Franciaországban,
            Szovjetunió ígérete Németország legyőzése után csatlakozik Japán elleni háborúba.
        </p>
    </section>

    <section>
        <h2><b>1944 június 6 Overlord hadművelet/D-day normandiai partraszállás</b> Eisenhower vezetésével.</h2>

        <p>1944 augusztus végén Párizs felszabadul a német megszállás alól. Ardenn-nél a németek indítanak egy utolsó
            ellentámadás a nyugati fronton.
            Fülöp-szigeteket visszafoglalják a szövetségesek és elfoglalják Ivo Dzsimát.
            1945 február Jalta konferencia akik részt vettek Roosevelt, Churchill, Sztálin. Győzelem után Németországot
            4 övezetre fogják osztani, háborús bűnösök megbüntetése, nácitlanítás. A szovjetek terület követelnek
            Lengyelországtól
            1945 április Elba folyónál szövetséges és szovjet csapatok találkoznak. Április 30-án Hitler öngyilkos lesz,
            május 8-án fegyverszünet megállapodás aláírása, május 9-én győzelem napja
            1945 július Potsdam konferencia résztvevői Attlee, Truman, Sztálin. Európában befejeződik a második
            világháború</p>

        <!--
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://drive.google.com/file/d/1e5SEJjHPUlYOv8n31MclObpPDyvmeBkz/preview" width="640" height="480" allow="autoplay"></iframe>
            <video width="1000" height="600" controls class="embed-responsive-item">
                <source src="videok/Hiroshima_ Dropping The Bomb - Hiroshima - BBC.mp4" type="video/mp4">
            </video>
        </div>
        -->
    </section>

    <section>
        <h2>
            <b>1945 augusztus 6-án</b> Hirosimán bevetik az atombombát.
        </h2>
        <p>
            <b>1945 augusztus 9-én</b> Nagaszakira is ledobnak egy atombombát.
        </p>
        <p>
            1945 szeptember 2-án Japán kapitulál
        </p>
    </section>
</main>