<main id="article">

    <center>
        <h1>Európai Unió</h1>
    </center>

    <section>
        <h2>Európai Unió keletkezése</h2>
        <ul>
            <li>Az I. és a II. világháború anyagi és emberi tragédiái rádöbbentették a politikusokat, hogy változtatni kell
                az eddigi hatalmi politikán.</li>
            <li>Csődbe jutott az a nemzetállami politika, melyet Franciaország és Németország vívott egymás ellen az Európa
                feletti uralomért, és ami kirobbantotta a konfliktusokat a kontinensen.</li>
            <li>A további konfliktusok elkerülése érdekében megoldásra volt szükség.</li>
            
            <li>A problémát fokozta, hogy 1945 után a Sztálin vezette Szovjetunió kiterjesztette befolyási övezetét
                Kelet-Közép-Európára (Magyarország, Lengyelország, Csehszlovákia, Románia, Bulgária).</li>
            <li>A nyugati országok féltek a kommunisták előretörésétől (a hidegháború kezdete), ezért konszolidálni akartak.
                Az elsődleges cél az életszínvonal javítása volt</li>
            <li>Ezért elindították a Marshall-tervet, mely a fenti célok mellett arra is rádöbbentette a hatalmakat, hogy
                képesek nemzetek feletti együttműködésre.</li>
            <li>1948-ban 17 ország létrehozta az Európai Gazdasági Együttműködési Szervezetet (OEEC), de a keleti blokk
                országai elutasították a részvételt benne.</li>
        </ul>
        <p>
            Az Európai Gazdasági Közösség (EGK) létrejötte és működése: 
            1957-ben a Római Szerződés aláírásával az integrációt kiterjesztő folyamatot indították el, melynek eredménye az
            Európai Gazdasági Közösség (EGK) létrehozása volt. (Az integráció lényege: az államok saját független döntéseik
            (szuverenitásuk) egy részét átruházzák egy közös, szupranacionális (nemzetek feletti) intézményre.)
            Az EGK létrehozásának céljai:
        <ul>
            <li>Tartós béke és biztonság megteremtése</li>
            <li>Demokrácia, szabadság és fejlődés biztosítása</li>
            <li>Belső piac megteremtése</li>
            <li>Áruk, szolgáltatások, tőke, személyek szabadon áramolhatnak</li>
            <li>Nemzeti, vallási, kulturális sokszínűség megőrzése.</li>
            <li>Vámunió jött létre a tagállamok között</li>
            <ol type="1">
                <li>nincs vámhatár</li>
                <li>a kereskedelem szabadon fejlődik</li>
            </ol>
            <li>Közös agrárpolitika: az együttműködés legköltségesebb része, de ez mindenkinek érdeke, hogy finanszírozzák
            </li>
            <li>Regionális fejlesztések:</li>
            <ol type="1">
                <li>a tagállamok átlaga alatti színvonalon levő területeket közösségi forrásokkal fejlesztik</li>
                <li>infrastrukturális fejlesztések: vasút, autópálya, közintézmények építése</li>
            </ol>
            <li>Területi bővülések az EGK időszakában</li>
            <ol type="1">
                <li>1957: Franciaország, Németország, Hollandia, Belgium, Luxemburg, Olaszország</li>
                <li>1973: Nagy-Britannia, Dánia, Írország</li>
                <li>1981: Görögország</li>
                <li>1986: Spanyolország, Portugália</li>
            </ol>
        </ul>
        </p>
    </section>

    <section>
        <h2>Az Európai Unió létrejötte</h2>
        <img src="{{dir}}/img/E1.jpg" alt="Európai Unió tagjai">
        <p>Az 1993-ban aláírt Maastrichti Szerződés új alapokra helyezte az EGK tagállamok együttműködését:
        </p>
        <ul>
            <li>A gazdasági integrációt tovább bővítették</li>
            <li>Közös kül- és biztonságpolitikát alakítottak ki</li>
            <li>Közös bel- és igazságügyi politikát hoztak létre</li>
        </ul>
        <p>A szorosabb együttműködés miatt a korábbi szervezet (EGK) nevét is megváltoztatták. A szervezet új
            neve Európai Unió lett.</p>
        
        <p>A szorosabb együttműködés miatt a korábbi szervezet (EGK) nevét is megváltoztatták. A szervezet új
            neve Európai Unió lett.</p>
        <p>Adatok Európai Unióról:</p>
        <ul>
            <li>Területe: 4,4 millió km2</li>
            <li>Népessége kb. 500 millió fő</li>
            <li>GDP: 13,3 billió $</li>
            <li>Tagállamok száma: 28</li>
            <li>Európa Nap: május 9</li>
            <ol type="1">
                <li>Korábbi EGK tagállamok +</li>
                <li>1995: Ausztria, Finnország, Svédország</li>
                <li>2004: Magyarország, Csehország, Lengyelország, Szlovákia, Észtország, Lettország, Litvánia, Málta,
                    Ciprus, Szlovénia</li>
                <li>2007: Bulgária, Románia</li>
                <li>2013: Horvátország</li>
            </ol>
        </ul>
    </section>

    <section>
        <h2>Az Európai Unió legfontosabb intézményei</h2>
        <p>Európai Unió Tanácsa:
        </p>
        
        <ul>
            <li>Az EU fő döntéshozó szerve.</li>
            <li>Székhelye: Brüsszel.</li>
            <li>A Tanács a döntéseknél a lehető legszélesebb konszenzus kialakítására törekszik a tagállamok között.</li>
            <li>A közös kül- és biztonságpolitika, az adózás, a menekültügy és a bevándorlás esetében az egyes tagállamoknak
                vétójoguk van.</li>
            <li>A többi döntés elfogadásához legalább 255 szavazatra és a tagállamok több mint felének támogatására van
                szükség, amikor a határozatokat az Európai Bizottság javaslatára hozzák.</li>
            <li>Minden más esetben a Tanács minősített többségi döntéséhez a tagállamok legalább kétharmadától származó 255
                szavazatra van szükség.</li>
        </ul>
        
        <p>Európai Tanács:
        </p>
        <ul>
            <li>A legjelentősebb politikai döntések fóruma, amely meghatározza az Unió fejlődésének általános politikai
                irányvonalát. Tagjai az EU állam- és kormányfői.</li>
            <li>Elnöke: a soros elnökségi funkciót ellátó ország miniszterelnöke.</li>
            <li>Az Európai Tanácsot évente általában négyszer hívják össze.</li>
        </ul>
        
        <p>Európai Parlament:
        </p>
        <ul>
            <li>Az Unió polgárai által közvetlenül választott képviselőtestület, amely a Tanács mellett fokozatosan bővülő
                szerepkört tölt be a közösségi jogalkotás folyamatában</li>
            <li>Feladata a kinevezés és ellenőrzés</li>
            <li>Részt vállal a költségvetés meghatározásában.</li>
            <li>Székhelye: Strasbourg.</li>
            <li>Az egyes tagállamokra jutó képviselői helyek számának meghatározásánál a népességszám a meghatározó, de a
                konkrét elosztásban a politikai tényezők és a kisebb országok érdekei is érvényesülnek.</li>
            <li>A Parlament jelenlegi létszáma 751, Magyarország 21 képviselőt küldhet.</li>
        </ul>
        
        <p>Európai Bizottság:
        </p>
        <ul>
            <li>Az Európai Unió Tanácsa és az Európai Parlament döntéseit készíti elő, és hajtja végre.</li>
            <li>Székhelye: Brüsszel.</li>
            <li>A Bizottság szupranacionális intézmény, amelynek a tagállami kormányoktól függetlenül az Európai Unió
                nemzetek feletti közös érdekét kell képviselnie.</li>
            <li>A Nizzai szerződés értelmében a 28 tagú Európai Unióban minden ország 1 biztost jelölhet, így a Bizottság
                Kollégiuma 28 főből áll</li>
            <li>A Bizottság alapvetően három feladatot lát el:</li>
            <ol type="1">
                <li> jogszabályokat kezdeményez;</li>
                <li>őrködik a közösségi jog, illetve a szerződések betartása felett</li>
                <li>végrehajtja az uniós politikákat</li>
            </ol>
        </ul>
        
        <p>Európai Unió Bírósága(i):</p>
        <ul>
            <li>Az Európai Unió igazságszolgáltatási szervei:</li>
            <ol type="1">
                <li>Európai Bíróság</li>
                <li>Elsőfokú Törvényszék.</li>
            </ol>
            <li>A székhelye: Luxemburg</li>
            <li>Jelenleg minden egyes tagállam rendelkezik a bíróállítás jogával.</li>
            <li>A Bíróság munkáját főügyészek segítik.</li>
            <li>Az Európai Bíróságok hatásköre részben a tagállamok, részben pedig a közösségi intézmények
                kötelezettségeinek teljesítésével kapcsolatos jogvitákban áll fenn.</li>
        </ul>
        
        <p>Európai Számvevőszék</p>
        <ul>
            <li>Az Európai Unió pénzügyi érdekeit képviselő szerv, amely 1977-ben kezdte meg működését.</li>
            <li>Feladata az Unió kiadásainak és bevételeinek, valamint ezek célszerű felhasználásának ellenőrzése.</li>
            <li>Hatásköre minden olyan közösségi, nemzeti, regionális, illetve helyi szervre kiterjed, amely a közösségi
                költségvetésből részesedést nyer.</li>
            <li>Székhelye: Luxemburg.</li>
        </ul>
        
        <p>Európai Központi Bank:</p>
        <ul>
            <li>Az 1998-ban felállított Európai Központi Bank fő feladata a monetáris unióban bevezetett közös pénz, az euró
                kibocsátása, működtetése és stabilitásának megőrzése.</li>
            <li>Székhelye: Frankfurt</li>
        </ul>
        
        <p>Európai ombudsman:</p>
        <ul>
            <li>Az ombudsman megválasztása és kinevezése az Európai Parlament hatásköre.</li>
            <li>Az ombudsman fő feladata a hozzá beérkezett egyéni panaszok kivizsgálása.</li>
        </ul>
    </section>

</main>