<main id="article">
    <h1>
        <span class="title">A Náci Ideológia</span>
    </h1>
    
    <h2>A Nemzetiszocialista Német Munkáspárt</h2>
    <p>
        A nemzetiszocializmus (németül: Nationalsozialismus), vagy nácizmus elsősorban az Adolf Hitler vezette
        Nemzetiszocialista Német Munkáspárt (NSDAP) ideológiájára,
        illetve Németország 1933 és 1945 közötti Hitler-kormány időszakának politikájára, gyakorlatára utal.
        A nemzetiszocializmus szellemi gyökerei heterogének, és részben meghamisítottak.
        A náci propaganda az egyéni lét apró örömeinek, a népi életforma tisztaságának, a boldogító középszernek
        a képeivel bombázta a kisembert, elhitetve vele jelentőségét.
        A náci megfogalmazás szerint „a társadalom egy ütemre lép”.
        A nemzetiszocializmus a népit hangsúlyozta, az egyén tökéletes feloldódását követeli a közösségben: „te
        semmi vagy, a néped minden!”
    </p>
    <img src="{{dir}}/img/cikktorzs.jpg" alt="" width="" class="img_h img-fluid ideologia_img">
    <h2>Az ideológia gyökerei</h2>
    <p>
        Megtalálható benne Nietzsche „hatalomakarása”, Richard Wagner fatalizmusa, Mendel örökléstana, a
        fajelmélet, a szociáldarwinizmus, a pángermán messianizmus, a germán-kelta mitológia éppúgy, mint
        Spengler tételei a nyugati világ alkonyáról.
        A nemek tradicionális egyenlőtlenségét hirdeti, erősíti a férfi dominanciáját a családban, társadalomban
        és politikában.
        A náci faji politika alapja a fajelmélet, az 1918-as vereség felelősségének áthárítása, a „novemberi
        zsidó-marxista bűnösök” és az ellenségkép kialakítása, amelyről a totalitárius hatalom nem mondhat le.
        A náci párt elődje az 1919 januárjában alakult pángermán és antiszemita Német Munkáspárt volt.
        Adolf Hitler a húszas évek elején szerezte meg ennek vezetését, és ezután kapta a párt végleges nevét
        (Nationalsozialistische Deutsche Arbeiterpartei, NSDAP).
    </p>
    <img src="{{dir}}/img/mein_kampf.jpg" alt="" width="" class="img_h img-fluid">
    <h2>Az ideológia elvei</h2>
    <p>
        A párt 1920-ban elfogadott Nemzeti Szocialista Programja az egyesült Nagy-Németország létrehozását, a
        zsidók állampolgárságának megvonását, földreformot és néhány iparág államosítását követelte.
        Hitler 1924-ben a Mein Kampfban részletesen kifejtette ideológiájának alapjait, az antiszemitizmust és
        az antikommunizmust, a parlamenti demokrácia megvetését és Németország területi expanziójának
        jogosságát.
    </p>
    <img src="{{dir}}/img/Flag_NSDAP.png" alt="" width="" class="img_h img-fluid ideologia_img">
    <h2>Az ideológia hatása az országra és az ellenségeire</h2>
    <p>
        1933-ban Hitler – a közkeletű tévedéssel ellentétben, nem parlamenti választások eredményeképpen, hanem
        a német hatalmi elit belső kompromisszumának révén kancellár lett, és Németországot hamarosan egypárti
        állammá szervezte,
        ahol a nemzetiszocializmus ideológiájának megfelelően a „fajilag nemkívánatos elemeket” és a politikai
        ellenzéket kiszorították, üldözték, végül túlnyomó részüket fizikailag megsemmisítették.
        Hitler retorikájában az Ország védelmében a zsidóság megsemmisítését követeli.
        A Mein Kampfban „az emberiség örök bomlasztó elemének” nevezi a zsidóságot.
        Ez a politika a holokauszthoz, majd Németország második világháborús teljes vereségéhez vezetett.
    </p>
    <img src="{{dir}}/img/auschwitz.jpg" alt="" width="" class="img_h img-fluid ideologia_img">
</main>