<main id="article">
    <h1>
        <span class="title">Középkori mezőgazdaság</span>
    </h1>
    
    <p class="paragrafus">
        <img class="imgszoveg" src="{{dir}}/img/mezgazvaltas.jpg">
        A középkor
        kezdetén megszűnt az árutermelés, a gazdaság az önellátás szintjére esett vissza. A földet
        kezdetben a kimerülésig használták, ez volt a legelőváltó rendszer. Később kialakították a
        kétnyomásos gazdálkodást: a szántót két részre osztották, évente váltva az egyik részt
        bevetették, a másikat pihentették. A pihentetett föld volt az ugar. A 9. századtól
        Nyugat-Európa
        csapadékos részén a kétnyomásost fölváltotta a háromnyomásos rendszer: csak a föld harmadát
        pihentették, így nagyobb területen termeltek. A szántóba őszi és tavaszi gabonát vetettek,
        és a
        részeket évente váltva használták. A 10. században lezárult a Nyugat-Európát érintő
        népvándorlás. A békésebb időszakban megindult a népesség növekedése, ami több élelmiszer
        termelését tette szükségessé. Eleinte a szántóterületet növelték: erdők kiirtásával,
        mocsarak
        lecsapolásával, legelők felszántásával. Ehhez jobb technikai eszközöket kellett alkalmazni.
        A
        vaspapucsos faekét a 10. század végére felváltotta a vasból készült fordítóeke vagy
        nehézeke. A
        föld elegyengetéséhez boronát használtak. A lovakra igavonáshoz nyakhám helyett szügyhámot
        tettek, és patkolták őket, így nagyobb erőt tudtak kifejteni, amire szükség is volt a kötött
        talajok feltörése során.
        A technikai újítások hatására nőtt a termény mennyisége, megjelent a felesleg, amit piacra
        lehetett vinni, így újjáéledt az árutermelés és a pénzgazdálkodás.
    </p>
</main>