<main id="article">
    <h1>A mezőgazdaság középkori átalakulása</h1>

    <section>
        <p>
            A népességnövekedéssel együtt járt a mezőgazdasági termelés lényegi átalakulása. A megművelt földterület
            nagyságának növekedésénél döntőbb változást jelentett a földművelés technikájának változása. Az új
            nehézekével új területmérték született, a hold, az a terület, amelyet egy nap alatt fel lehetett szántani.
            Szántásra ökröket és lovakat egyaránt használtak. A fojtó nyakhám helyett a szügyhám terjedt el, ennek
            alkalmazásával az igavonó állatok ereje akár megötszöröződhetett, a patkolással pedig megelőzték, hogy a
            lovak patája idő előtt elkopjon. A borona az elszórt vetőmag eloszlását tette egyenletesebbé.
        </p>
    </section>

    <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq7eG628IzL2jbU0-2PAycKzqSea9DIaCiaQ&usqp=CAU">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq7eG628IzL2jbU0-2PAycKzqSea9DIaCiaQ&usqp=CAU">
    </a>

    <section>
        <p>
            A földművelés hajnalán a vad talajváltó (parlagoló, legelőváltó) rendszert alkalmazták, amikor is addig
            műveltek egy területet, amíg az ki nem merült, majd újat törtek fel helyette. Az egyre korlátozottabb
            földterület kikényszerítette a földek ésszerűbb kihasználását. Nyugaton kezdetben a kétnyomásos művelés
            terjedt el. Ebben a földeket két részre, nyomásra osztották: az egyikbe gabonát vetettek, a másikat ugaron
            hagyták, itt legeltették az állatokat. Az ugar volt a tulajdonképpeni “nyomás”, amely arra utal, hogy az
            ugart a legelő állatok megtaposták, megnyomták - és természetesen trágyázták is. Az ugar nem műveletlen
            földet jelentett, mint a parlag, mert azt többször is felszántották, előkészítették a következő évi vetésre.
        </p>
    </section>

    <section>
        <p>
            A kétnyomásos gazdálkodást Nyugaton lassanként kiszorította a háromnyomásos földművelés. Ebben a rendszerben
            a földet három egyforma részre osztották. Az elsőbe ősszel gabonát vetettek (búzát, rozsot), a másodikba
            tavasszal árpát, zabot vagy zöldséget (babot, borsót, lencsét), a harmadik nyomást pedig ugaron hagyták. A
            vetéstervet évente forgatták, így megmaradt a talaj termőképessége.
        </p>
    </section>

    <a target="_blank" href="https://tti.abtk.hu/images/Lendulet/k%C3%B6z%C3%A9pkori_gazdas%C3%A1gt%C3%B6rt%C3%A9net/2023/mordm-01.jpg">
        <img src="https://tti.abtk.hu/images/Lendulet/k%C3%B6z%C3%A9pkori_gazdas%C3%A1gt%C3%B6rt%C3%A9net/2023/mordm-01.jpg">
    </a>

    <section>
        <p>
            Mind a két-, mind a háromnyomásos gazdálkodás együtt járt a nyomáskényszerrel. Ez a művelési kényszer
            megszabta a szántók és a közösen használt ugar helyét, a szántókba vethető növények fajtáját, a földek éves
            forgását, sőt azt is előírta, hogy a parasztoknak hányszor és mikor kell elvégezni a különböző mezőgazdasági
            munkákat. A nyomáskényszert elsősorban a külterjes állattartás érdekei határozták meg. A gabonával bevetett
            nyomásokat aratásig kerítés vagy árok védte a legelő jószágoktól, aratás után pedig az állatok előtt
            megnyílt a tarló. Ha valaki később érő növényt vetett volna a szántóterületre, akkor annak lábon álló
            termését az állatok megtaposhatták volna, és ha valaki különc módon bevetette volna az ugar egy részét, az
            hasonló veszélyt jelenthetett a termésre. A nyomáskényszert erősítette, hogy a szántók nemcsak nyomások,
            hanem dűlők szerint is szerteszét feküdtek a falu határában, vagyis a háromnyomásos gazdálkodás esetében a
            falu határát nem két szántóra osztották, hanem annyi dűlőre, amennyit a természeti környezet megkívánt. A
            dűlőket a parasztcsaládok száma szerint tovább parcellázták, egy-egy családnak tehát a falu határában annyi
            parcellája volt, ahány dűlőt kialakítottak. A földhasználat e rendszere miatt elképzelhetetlen volt, hogy
            valaki saját elképzelése szerint vessen és arasson parcelláján. A nyomáskényszer tehát szigorúan megszabta a
            faluban élő családok munkavégzési rendjét.
        </p>
    </section>

    <section>
        <p>
            Ezeknek az újításoknak köszönhetően csökkent a parlagföld aránya, növekedett a termésátlag, az elvetett
            gabonamag kétszerese helyett már négy-ötszörösét lehetett learatni. Míg a talajváltó gazdálkodásban egy
            parasztcsalád eltartásához kb. 9 hektár föld kellett, addig a háromnyomásos gazdálkodásban ehhez már
            elegendő volt másfél hektár!
        </p>
    </section>

    <section>
        <p>
            A bőségesebb termés változatosabbá tette a táplálkozást, csökkentette az éhínségek veszélyét. Sőt már
            felesleg is keletkezett, amit piacra lehetett vinni. A gabona mellett a legfontosabb árucikk a bor volt,
            amelynek termesztésével egész tájegységek foglalkoztak. A felesleg a városok piacaira áramlott, ez már képes
            volt eltartani azt az egyre gyarapodó kézműves, városlakó réteget is, amely nem foglalkozott földműveléssel.
            A természeti gazdálkodás egyeduralma megtört, a városok piacai megélénkültek, a pénzforgalom jelentősen
            megugrott, egyszóval az árutermelő gazdálkodás szép lassan teret nyert Nyugat-Európában.
        </p>
    </section>

    <section>
        <p>
            A 12. századi szerződés szerint a hamburgi érsek, a terület ura, telepeseket toboroz a mocsaras földek
            termővé tételére.
        </p>
    </section>

    <section>
        <h2>Források</h2>
        <ul>
            <li>
                <a href="https://tudasbazis.sulinet.hu/hu/tarsadalomtudomanyok/tortenelem/a-kozepkor-tortenete-476-1492/az-erett-kozepkor-uj-jelensegei/a-mezogazdasag-kozepkori-atalakulasa">
                    Sulinet
                </a>
            </li>
        </ul>
    </section>
</main>