<main id="article">
    <h1>
        <span class="title">Mária Terézia</span>
    </h1>

    <section>
        <h2>Mária Terézia</h2>

        <img src="{{dir}}/img/MT1.jpg" alt="Mária Terézia">

        <ul id="lista">
            <li>Apja halála után Mária Terézia (1740-80) lett az uralkodó, ezt a szomszédos országok nem akarták elfogadni
            </li>
            <li>Habsburg örökösödési háború, mely 1740-48-ig tartott</li>
            <ul>
                <li>II. Frigyes porosz uralkodó hadüzenet nélkül megrohanta Sziléziát</li>
                <li>Bajorok és a franciák pedig a Habsburg területek felosztását tervezték.</li>
            </ul>
            <li>A magyar rendek azonban kitartottak Mária Terézia mellett à katonai segítséget is adtak neki.</li>
            <li>A Habsburgok melletti magyar kiállásnak két oka volt</li>
            <ul>
                <li>Rendi kiváltságok, pl. nemesi adómentesség</li>
                <li>A nagy riválisokkal szembeni (II. Frigyes porosz király és Károly Albert bajor uralkodó) bizalmatlanság.
                </li>
                <li>Mária Terézia ígéretet tett arra, hogy a magyarok segítségével fog kormányozni</li>
            </ul>
            <li>1741 Vérüket ajánlották fel a rendek, „vitam et sanguinem”</li>
            <li>A háború végén végül is Szilézia porosz kézen maradt, sőt, a hétéves háborúban (1756-63) sem sikerült
                visszaszerezni.</li>
            <li>1780-ban tüdőgyulladásba meg hallt</li>
        </ul>
    </section>

    <section>
        <h2>Mária Terézia rendeletei</h2>
        <ul id="lista">
            <li>A háború (Sziléziáért vívott) elvesztése bebizonyította, hogy a hadsereg fejlesztése elengedhetetlen, amit
                csak a jövedelmek erőteljes emelésével lehetett megvalósítani. → reformok.</li>
            <li>Kettős vámhatár</li>
            <ol type="1">
                <li>1754-ben kettős vámhatárt állított fel. Egy határ húzódott az egész birodalom körül, mely az osztrák- és
                    cseh ipart védte a külföldi riválisoktól. A másik határt pedig Magyarország köré húzta, azért, hogy a
                    magyar ipar ne fejlődhessen és a birodalom felvevőpiaca legyen.</li>
                <li>Majorság földjeinek a növelése → robotmunka növelése</li>
            </ol>
            <li>Úrbéli rendelet/ urbáriumot</li>
            <ol type="1">
                <li>1767-es, melyben szabályozta a jobbágyi terheket. Meghatározta az egységes jobbágytelek nagyságát (16-40
                    hold) és az utána fizetett járadékokat.</li>
                <li>A jobbágy 52 napi igás- vagy 104 napi gyalogrobottal tartozott.</li>
                <li>Úrbéli telek → jobbágyok adóért használják.->Felméri, majd rögzíti.</li>
            </ol>
            <li>Ratio Educationis</li>
            <ol type="1">
                <li>Tanügyi rendelet.</li>
                <li>Az egyházé az oktatás, DE az állam felügyeli az oktatást</li>
                <li>Oktatási továbbmeneteli rendszert hozott létre à pl. gimnáziumból egyetemre</li>
                <li>Idénymunka idején nem kötelező az iskola, de amúgy igen.</li>
                <ol type="a">
                    <li>Tömegessé teszi az oktatást</li>
                    <li>Német nyelv bevezetése az oktatásba</li>
                    <li>Törit helyezi előtérbe à nép befolyásolása</li>
                </ol>
            </ol>
        </ul>
    </section>

    <section>
        <h2>Források</h2>
        <ul>
            <li>
                Murvai Mónika
            </li>
        </ul>
    </section>
</main>