<main id="article">
    <h1>
        <span class="title">1956-os forradalom és szabadságharc</span>
    </h1>

    <section>
        <h2>Rákosi felemás leváltása</h2>
        <p>
            1953 márciusában
            meghalt Sztálin. Hruscsov és a szovjet vezetés többi tagja
            érzékelte, hogy a szovjet blokk államaiban gazdasági és társadalmi feszültségek jelentkeztek. A szovjetek
            által levert
            kelet-berlini felkelés (1953. június) is közrejátszott abban,
            hogy a változások mellett döntsenek. Így történt ez Magyarország esetében is, ahol az életkörülmények
            rohamos
            romlása közepette a gazdasági mutatók messze elmaradtak a várttól.
        </p>
        <p>
            Moszkvába rendelték a magyar pártvezetést, és utasították a hibák kiküszöbölésére (amelyeket korábban éppen
            Moszkva parancsára követtek el). Rákosiék szemére vetették a személyi kultuszt, az erőltetett iparosítást, a
            törvénytelenségeket. A szovjet pártvezetésen belüli erőviszonyok
            azonban még nem váltak egyértelművé, ezért Magyarországon sem teremtettek egyértelmű helyzetet. Rákosit
            lemondatták a kormány éléről, és Nagy Imrét (aki eddig
            begyűjtési miniszter és Moszkva számára megbízható politikus volt) ajánlották erre a tisztségre. De –
            szóbeli megrovás mellett – Rákosi maradhatott a párt élén. Vele együtt a
            sztálinizmus is „hivatalban maradt”. Ezzel a párton belüli
            „oszd meg és uralkodj” felemássággal a meghatározó döntéseket Moszkva megtarthatta magának, és –
            akarva-akaratlanul – szabadjára engedte a hatalmi harcot hazánkban.
        </p>
    </section>

    <section>
        <h2>Nagy Imre a kormány élén</h2>
        <p>
            A szovjet vezetés
            által eldöntött változásokról az ország Nagy Imre, a Minisztertanács elnökének országgyűlési beszámolójából
            értesült.
            A beszéd váratlanul érte a lakosságot és a párttagságot is.
            Már az is szokatlan volt, hogy az „új szakasznak” elkeresztelt
            jelentős irányváltást nem a pártvezető jelenti be egy pártértekezleten, hanem a miniszterelnök az
            Országgyűlésben,
            amely a korábbi években meglehetősen súlytalanná vált.
            Nagy Imre kilátásba helyezte az Országgyűlés szerepének
            növelését, az aránytalan s az ország adottságaitól idegen
            nehézipari fejlesztés mérséklését, az erőszakos téeszesítés
            visszafogását és a törvénytelenségek megszüntetését. Ezek
            a változások azonban a rendszer alapjait nem érintették, továbbra is a pártállam működött, a párt főtitkára
            Rákosi
            Mátyás maradt, s az történt Magyarországon, amit a szovjet
            vezetés akart.
        </p>
        <p>
            Az internálásokat felfüggesztették, a koncepciós perek
            kommunista és szociáldemokrata meghurcoltjainak ügyét
            elkezdték felülvizsgálni, s a koncepciós perekben szabadságvesztésre ítélteket szabadlábra helyezték,
            jelentős részüket rehabilitálták. A régi világ „osztályellenségei”, a
            kisgazda és más polgári politikusok, az egyháziak helyzete
            nem változott. A rehabilitáltak visszakerülhettek a pártba,
            később esetleg annak vezetésébe is. Egy részük Nagy Imrével szimpatizált. Mások – így Kádár János is –
            szabadon
            bocsátásuk után előbb kivártak, egy idő után pedig mind
            Rákosival, mind Nagy Imrével együttműködtek.
        </p>
        <p>
            Leállították az erőszakos téeszesítést, sőt engedélyezték
            a téeszekből való kilépést is. A közhangulat javítása érdekében erőfeszítéseket tettek a közellátás
            jobbítására, emelték
            a béreket, s néhány termék árát csökkentették. Egy sor, az
            ország erőforrásait meghaladó vagy szükségtelen nagyberuházást leállítottak, köztük a budapesti metró
            építését is.
            Csökkentették a parasztság terheit, és növelték a közszükségleti cikkeket gyártó könnyűipar szerepét.
        </p>
    </section>

    <section>
        <h2>Hatalmi harcok - Rákosi ellentámadása</h2>
        <p>
            A hatalom azonban továbbra is a párt kezében
            maradt, melynek politikáját Moszkvában határozták meg.
            Moszkvában viszont a külpolitikai feszültségek miatt átmenetileg újból a keményvonalas politika hívei
            kerültek előtérbe. Emiatt Rákosi elérte Nagy Imre menesztését (1955.
            április). Hegedüs András lett a Minisztertanács új elnöke,
            aki Rákosi embere volt, s a valódi hatalom ismét Rákosi kezébe került. Nagy Imre a pártvezetés
            felszólítására sem volt
            hajlandó önkritikát gyakorolni. Kizárták a pártból (1955. december), de nem mertek fellépni ellene és a
            mögötte felsorakozó néhány kommunista ellen a korábbi módszerekkel.
            Pártfegyelmiket, áthelyezéseket alkalmaztak, ám nem tartóztatták le, és nem fogták perbe őket. Nagy Imre –
            csendesen szimpatizáló értelmiségi holdudvarral – pártonkívüliként is politikai tényező maradt, s támogatói
            a rendszer
            kritikusaivá váltak.
        </p>
        <p>
            <img src="{{dir}}/img/105.jpg">
            Nagy Imre félreállítása után a külpolitikai helyzet és a
            Szovjetunióban folyó hatalmi harc Rákosi számára egyre
            kedvezőtlenebbül alakult. Az SZKP (Szovjetunió Kommunista Pártja) XX. kongresszusán (1956. február) Hruscsov
            a
            Sztálin idején elkövetett hibák kijavítását tűzte ki célul. Az
            1953 óta növekvő számú magyar pártellenzéket egyre bajosabb volt elhallgattatni, s mellettük a fiatal
            kommunista értelmiséget tömörítő új fórum, a Petőfi Kör összejövetelein
            is egyre élesebben bírálták a pártvezetést.
        </p>
        <p>
            A nehéz évek közepette a magyar sport egyik aranykorát élte. A rendszer politikai okokból támogatta a
            sportot,
            nemzetközi sikereket remélve. A magyar sport hozta is az
            eredményeket, sportolóink az 1952-es helsinki nyári olimpián 16 aranyérmet szereztek (ez volt az eddigi
            legjobb szereplésünk). A labdarúgás a korábbiakhoz hasonlóan kiemelten népszerű volt, s a magyar foci a
            nemzetközi élvonalba
            tartozott. A magyar válogatott, amelyet „aranycsapatnak”
            is neveztek, 1953-ban Londonban megverte az otthonában
            addig veretlen angol válogatottat. A híres 6:3 óriási lelkesedést váltott ki. Ezt követően hatalmas
            várakozás előzte
            meg az 1954-es labdarúgó-világbajnokságot. Az aranycsapat kivívta a döntőbe jutást, de a Németországi
            Szövetségi Köztársaság csapatával szemben alulmaradt. A vereség
            - mutatva a foci jelentőségét - utcai zavargásokhoz vezetett, melyet csak karhatalommal lehetett megfékezni.
        </p>
    </section>
    <section>
        <h2>Gerő Ernő</h2>
        <p>
            A szovjet vezetés az erősödő magyarországi elégedetlenség hatására Rákosi Mátyás lemondatása mellett döntött
            (1956. július). (Rákosi „gyógykezelésre” a Szovjetunióba távozott, és onnan többé nem is tért vissza.) A
            helyére
            ültetett Gerő Ernő kinevezése sem nyugtatta meg az elégedetlenkedőket, hiszen Gerő a Rákosi-rendszer második
            emberének számított. A kommunista ellenzék Nagy Imre
            köré csoportosult. Rákosi, majd Gerő mögött az 1945 után
            kinevelt pártapparátus többsége állt, akiket alapvetően a
            párthűség alapján választottak ki, s ezért félelemmel tekintettek a változásokra. Nagy Imrét és a mögötte
            felsorakozó
            pártellenzéket revizionistáknak nevezték el, ami az akkori
            sztálinista szóhasználatban szitokszó volt.
        </p>
    </section>

    <section>
        <h2>Egyetemisták</h2>
        <!--
        <p>
            1956. október második felében az egyetemi ifjúság szervezetei sorra kiváltak a kommunista ifjúsági
            szervezetből
            (DISZ), és független mozgalmat alapítottak Szegeden, a Magyar Egyetemisták és Főiskolai Egyesületek
            Szövetségét, a
            MEFESZ-t. A hatalom nem lépett fel ellene, s az események
            felgyorsultak. A fővárosban és a vidéki egyetemi központokban létrejövő MEFESZ-szervezetek határozott
            követeléseket fogalmaztak meg. Ezek tartalmazták többek között a
            demokratikus viszonyok és a szabadságjogok helyreállítását, a tervgazdaság felülvizsgálatát, a munkások
            bérének
            emelését, az ország politikai rendszerének megújítását, a
            nemzeti jelképek visszaállítását, a szovjet–magyar viszony
            kölcsönösségi alapokra helyezését, a szovjet csapatok kivonulását Magyarországról.
        </p>
        -->
        <p>
            1956 őszére a társadalom számára is egyértelművé vált, hogy a párton belüli ellentéteket kihasználva
            változásokat lehet elérni. Elsőként a fiatalok fogalmazták meg követeléseiket. 1956 októberében a szegedi
            egyetem hallgatói kiváltak kommunista párt ifjúsági szervezetéből (Dolgozó Ifjúság Szövetsége), és
            megalakították a Magyar Egyetemisták és Főiskolások Szövetségét (MEFESZ). Példájukat rövidesen az ország
            többi egyetemén is követték. Októberben (22-én) a budapesti Műszaki Egyetem MEFESZ-szervezete 16 pontban
            fogalmazta meg az egyetemi ifjúság követeléseit. A törvénytelenségeket elkövető vezetők (különösen Rákosi)
            megbüntetését, Nagy Imre miniszterelnöki kinevezését, szabad választásokat és a szovjet csapatok távozását
            sürgették. Gazdasági követeléseik közé tartozott a bérek emelése, a tervgazdaság és a beszolgáltatási
            rendszer felülvizsgálata.
        </p>
        <p>
            Azonban a diákság ekkor már ennél többet akart: valódi demokráciát, többpártrendszert, Rákosiék bíróság elé
            állítását, a szovjet befolyás megszüntetését, függetlenséget és a
            Lengyelországban is megjelent ellenállással való szolidaritást. Küszöbön állt a forradalom.
        </p>
    </section>

    <section>
        <h2>A forradalom kitörése</h2>
        <p>
            <img src="{{dir}}/img/107.jpg">
            1956 nyarán a lengyelek fellázadtak a sztálinista rendszer ellen. Ezt gyorsan leverték, de ősszel a lengyel
            vezetés reformokra kényszerült. 1956. október 23-ára a budapesti Műszaki Egyetem hallgatói békés felvonulást
            szerveztek a lengyelek támogatására és a magyarországi változásokért. A pártvezetés először betiltotta, majd
            mégis engedélyezte a megmozdulást. A műegyetemisták kezdeményezéshez több egyetem is csatlakozott.
            A felvonulás – a szolidaritáson
            túl – nyilvánvalóan elsősorban belpolitikai tartalommal bírt,
            a demokratizálás melletti kiállást jelentette.
        </p>
        <p>
            <img src="{{dir}}/img/108.jpg">
            A Budapesti Műszaki Egyetemtől, illetve az Eötvös Loránd Tudományegyetem mellől induló tüntetés délután
            három órakor kezdődött. A Bem téren összegyűlt közel
            ötvenezer ember szabadságot, a demokratikus viszonyok
            helyreállítását, a magyar önállóság megteremtését és Nagy
            Imre miniszterelnöki kinevezését követelte.
        </p>
        <p>
            Az egyetemisták megmozdulásához késő délután a budapesti munkásság is nagy számban csatlakozott. A tüntető
            tömeg a Bem térről az Országház elé vonult, és Nagy Imre
            személyes megjelenését, beszédét követelte.
        </p>
        <p>
            <img src="{{dir}}/img/111.jpg">
            A Kossuth téren összegyűlt több tízezer ember többsége
            Nagy Imre csillapító szavai ellenére sem tért haza. Jelentős
            részük a Dózsa György úti Sztálin-szoborhoz vonult, hogy
            ledöntse azt. A tüntetők másik fele a Magyar Rádió épületéhez ment, hogy a követeléseiket nyilvánosságra
            hozzák.
            A Rádiónál azonban a hatalom nem engedélyezte a követelések beolvasását, helyette Gerő Ernő beszédét
            közvetítette. Gerő az addig történteket ellenforradalomnak minősítette, kiállt a Szovjetunió mellett, így
            beszéde olaj volt a
            tűzre. Az egyre feszültebb hangulatban a rádió ÁVH-s védői
            közül valaki a tömeg közé lőtt: az indulatok elszabadultak,
            kitört a fegyveres felkelés, a forradalom.
        </p>
        <p>
            A felkelők a fegyverraktárakból, rendőröktől, illetve kivezényelt katonáktól szereztek fegyvereket, s a harc
            a főváros több pontján fellángolt. A budapesti rendőrök zöme
            nem fordult a nép ellen. A megmozdulásokat a hajnalban
            gyalogsági kíséret nélkül érkező szovjet páncélosok sem
            tudták leverni.
        </p>
        <p>
            Október 23-án a vidéki városokban is tüntetések kezdődtek. Az első lövések Debrecenben dördültek el, ahol a
            megyei pártszékház elé vonuló, fegyvertelen tömegbe lőttek az épület védői.
        </p>
    </section>

    <section>
        <h2>Forradalomból szabadságharc</h2>
        <p>
            <img src="https://nat2012.nkp.hu/tankonyv/tortenelem_8/img/16_4_pesti_sr_cok_vagn_hansen_fotoja.png">
            Az események hatására a párt vezetői október 23-án az éjjeli órákban behívták a szovjet csapatokat
            Budapestre, majd (már másnap hajnalban) kinevezték Nagy Imrét miniszterelnöknek. Október 24-én újabb és
            újabb szovjet egységek lépték át Magyarország keleti határát, illetve Székesfehérvárról páncélos alakulatok
            indultak Budapest felé.
        </p>
        <p>
            A szovjet páncélosok megjelenése csak olaj volt a tűzre. A forradalom a megszállók elleni szabadságharccá
            vált. Október 24-től a főváros utcáin, terein főleg fiatalokból álló fegyveres csoportok alakultak (a „pesti
            srácok”), amelyekhez honvédek, katonatisztek is csatlakoztak. A Széna téren, a Corvin közben, a Baross
            téren, a Tűzoltó utcában, a Boráros téren és a Móricz Zsigmond körtéren harcoló alakulatok váltak a
            legismertebbé. A páncélosok ellen használt legfontosabb fegyver a Molotov-koktél volt.
        </p>
    </section>

    <section>
        <h2>Az új hatalmi szervek és sortüzek</h2>
        <p>
            A gyárak, üzemek dolgozói munkástanácsokat alakítottak, amelyek felváltották a kommunista pártszervezeteket.
            A kommunista tanácsi közigazgatás sok helyütt egyszerűen eltűnt, és helyét nemzeti vagy forradalmi tanácsok
            vették át.
        </p>
        <p>
            Nagy Imre miniszterelnök elképzelése az volt, hogy tárgyalásos úton, részben engedményekkel próbálja meg
            lecsillapítani a nép – általa is jogosnak tartott – haragját. A párt vezetőinek és tagságának egy része
            azonban kizárólag a fegyveres „megoldásban” hitt. Elképzelésük szerint a szovjet hadsereg felvonulása, a
            párthű államvédelmi alakulatok erőszakos fellépése elegendő lesz a „rendteremtéshez”.
        </p>
        <p>
            Október 25-én délelőtt tüntetők vonultak a Parlamenthez. Barátkoztak az épület védelmére ide rendelt szovjet
            katonákkal, éltették Nagy Imrét, követelték Gerő Ernő távozását és az ÁVH megszüntetését. A békés tömegre a
            környező épületekből, több irányból tüzet nyitottak magyar és szovjet fegyveresek. A rengeteg sebesült
            mellett száz körül volt a halottak száma. Ezekben a napokban vidéken is többször lövettek a békés tüntetők
            közé. Az egyik legvéresebb sortűz Mosonmagyaróváron volt (október 26.).
        </p>
        <p>
            Gerőt a Parlament előtti sortűz napján leváltották – a szovjetek beleegyezésével –, és helyére Kádár Jánost
            választották. Október végén Kádár feloszlatta az állampártot (az MDP-t). Még aznap megalakult az új
            kommunista párt, a Magyar Szocialista Munkáspárt (MSZMP), amelynek tagja volt Nagy Imre, de vezetője Kádár
            János lett.
        </p>
    </section>

    <section>
        <h2>Források</h2>
        <ul>
            <li>
                <a href="https://www.tankonyvkatalogus.hu/pdf/OH-TOR12TB__teljes.pdf" target="_blank">
                    Történelem tankönyv
                </a>
            </li>
            <li>
                <a href="https://nat2012.nkp.hu/tankonyv/tortenelem_8/lecke_02_016">
                    NKP
                </a>
            </li>
        </ul>
    </section>
</main>