<main id="article">
    <h1>
        <span class="title">II. világháború előzményei</span>
    </h1>
    
    <section>
        <h2>Spanyol polgárháború (1936-1939):</h2>
        <p>
            Spanyolországban az 1936-os választásokon baloldali győzelem született, amit a hadsereg nem akart elfogadni. Francesco Franko tábornok (cadillo = vezér) vezetésével Spanyolország afrikai gyarmatairól kiindulva harcot kezdtek a kormány ellen. 
            A polgárháború 3 évven át tartott. A fasiszta hatalmak, Olaszország és a németek Frankót támogatták, míg a demokráciák, pl. USA a spanyol kormány mellett álltak ki. Végül Frankó győzött és egészen 1975-ig diktatúrában tartotta Spanyolországot.
        </p>
    </section>
    
    <section>
        <h2>Japán háborúja Kína ellen</h2>
        <img src="{{dir}}/img/japan.png" alt="" width="" class="img_h img-fluid">
        <p>
            Japán 1931-ben meghódította Mandzsúriát (Észak-Kínát), majd kialakítottak itt egy általuk uralt bábállamot: Mandzsukuot. Alig 6 évvel később, 1937-ben a kvantung hadsereg (japán haderő) közel 400 ezres 
            sereggel már magára Kínára támadt. Japán megkezdte hódításait: 1940-ben már Indokínát és Malajziát kezdte meghódítani.
        </p>
    </section>
    
    <section>
        <h2>Olaszország terjeszkedése</h2>
        <p>Mussolini utasítására az olasz haderő 1935-ben megtámadta Etiópiát (Afrika) és felkészült Albánia, illetve Görögország - meghódítására. </p>
    </section>

    <section>
        <h2>Németország 1933 után agresszív külpolitikát folytatott</h2>
        <p>Adolf Hitler 1935 után agresszív terjeszkedő politikába kezdett, melynek során megszegte az első világháború utáni békeszerződését:</p>
        <ul id="lista">
            <li>Háborús készülődésbe kezdett: fejlesztette hadiflottáját és légi erejét, általános hadkötelezettséget vezetett be</li>
            <li>Kilépett a Népszövetségből,</li>
            <li>Érvénytelenítette a versailles-i békét,</li>
            <li>Megkezdte a német hadsereg, vagyis a Wehrmacht felfejlesztését, megnövelését.</li>
        </ul>
        <p>1935-ben elérte, hogy népszavazással Németország visszakapja a Saar vidéket. 1936-ban bevonult a Rajna vidékre, melynek az első világháborút lezáró béke szerint demilitarizáltnak kellett volna lennie.</p>
        <img src="{{dir}}/img/Rajna.png" alt="" width="700px" class="img_h img-fluid">
        
        <p>1936-ban létrehozta a Berlin-Róma tengelyt és megkötötte az antikommintern paktumot Japánnal. 1938 március 12-én Hitler elérte, hogy Ausztria kérje a Németországgal való egyesülést. Ez volt az Anschluss. Előtte az osztrák nácik vették át Bécsben a hatalmat. Ők hívták be a németeket.</p>
        <img src="{{dir}}/img/Anschluss.png" alt="" class="img_h img-fluid">
        
        <p>1938. szept. 29-30. müncheni konferencia (Chamberlain, Daladier, Mussolini, Hitler): a Szudéta-vidéket Németországhoz csatolják Csehszlovákiától (I. bécsi döntés – Felvidék egy része vissza)
            A nyugati hatalmak csak akkor ismerik fel a ’megbékéltetési’ politika eredménytelenségét,
            amikor 1939. március 15. a német csapatok bevonulnak Prágába, létrejön a Cseh-morva protektorátus, megszerzi Hitler a fejlett cseh hadiipart. (Létrejött Szlovákia, Kárpátalja vissza)
        </p>
        <p>
            1939 márciusában a németek megszállták a maradék Csehországot (létrejött a Cseh-Morva Protektorátus), ezért Szlovákia önállósodott Tiso vezetésével és mindenben együttműködött a németekkel.
            Csehszlovákia felszámolása után Anglia és Franciaország garanciát vállalt Lengyelország függetlenségének megvédésére. Területszerzési céljainak megfelelően Hitler következő áldozatának Lengyelországot nézte ki.
        </p>
        <img src="{{dir}}/img/Cseh.png" alt="" class="img_h img-fluid">
        
        <p>
            A német kormány 1939. augusztus 23-án megnemtámadási szerződést kötött a Szovjetunióval (Molotov-Ribbentrop paktum): szovjet-német megnemtámadási egyezmény, 10 évre béke. 
            Titkos záradék: érdekszférák elhatárolása a Curzon-vonal mentén lesz a német-szovjet határ; a németek Délkelet-Európában teljes érdektelenséget vállalnak.
            Követelte a lengyelektől Danzig szabad városát és a Balti-tengerhez vezető korridort, Lengyelek visszautasítják.
        </p>
    </section>
</main>