<main id="article">
    <p class="paragrafus">
        Az ókori görög-római civilizáció az európai kultúra megalapozója volt. Ez európai építészet
        formavilágának számos elemét is a görögöktől örököltük – római közvetítéssel.
    </p> <br>

    <p class="paragrafus">
        <img src="{{dir}}/img/gorog.jpg" class="imgszoveg">
        Az ókori görög Hellász történetében három nagy korszakot különböztetünk meg: az archaikus, a
        Kr. e.
        5. századi klasszikus és a Kr. e. 4. század végén kezdődő hellenisztikus korszakot,
        melyekhez
        jellegzetes építészeti stílusjegyek is kapcsolódnak. Az utókor a klasszikus stílust tartja a
        legtöbbre, de a hellenisztikus stílus gyakorolta a legnagyobb hatást – a római és az európai
        építészetre.
    </p><br>
    <p class="paragrafus">
        A görög építészet reprezentatív alkotása a templom volt. Lépcsőzetesen emelkedő alapzat,
        háromszög
        alakú, domborművekkel díszített oromzat (tümpanon), dombormű szalag (fríz) és a cellát
        körülvevő
        oszlopsor jellemzi. A klasszikus oszlopformák közül a legkorábbi zömök, lábazat nélküli dór
        oszlop
        volt. Később alakult ki és terjedt el a kis-ázsiai poliszokból a karcsúbb, lábazaton álló,
        csigavonallal díszített ión oszlop. A korinthoszi oszlopot a hellenizmus korában
        alkalmazták.
    </p>
    <p class="paragrafus">
        Híres épületegyüttes a Kr. e. 5. században fölépített athéni Akropolisz, amely több
        templomot,
        szentélyt, istenszobrot, kincstárat foglal magában. Itt áll Athéné dór stílusú templomba, a
        Parthenón, amelynek domborműveit Pheidiasz készítette, vagy az ión stílusú Erekhtheion,
        amely az
        oszlopokként szolgáló nőalakjairól, a kariatidákról híres. Hasonló szent templomkerületek
        Olümpiában, a Zeusz tiszteletére Kr. e. 776-tól feljegyzett versenyek helyszínén, és a
        kis-ázsiai,
        dél-itáliai, szicíliai görög poliszokban is álltak.
    </p><br>

    <p class="paragrafus">
        <img src="{{dir}}/img/epiteszte.png" class="imgszoveg2">
        A színház is görög eredetű. A dráma és a színjátszás a Kr. e. 6. század végén Athénban
        alakult ki,
        de a távoli görög poliszokba is eljutott. A Dionüszosz-színház mintájára völgyben
        alakították ki a
        lépcsőzetes nézőteret, a színpadot és a háttérként szolgáló jellegzetes oszlopsort vagy
        palotát. Ma
        is látható pl. az epidauroszi vagy az epheszoszi görög színház. A nézőtéren a polisz egész
        lakossága
        elfért, amire azért volt szükség, mert a klasszikus kori drámajátszás elsősorban világi
        esemény
        volt: az erkölcsi és politikai nevelés eszközéül szolgált. Színházak épültek a
        hellenisztikus és a
        római korban is.
    </p><br>
    <p class="paragrafus">
        Róma építészetében az etruszk és a görög, majd a Kr. e. 3. századtól a hellenisztikus hatás
        érvényesült. Ezt a köztársaságkori épületek tümpanonos oromfala, dór vagy ión oszloprendje
        bizonyítja. De a Kr. u. 1. században már felépültek a római civilizációra jellemző városi
        épületek,
        a császárkori Róma pedig új fórumokkal, középületekkel gazdagodott. A római építészet
        legfontosabb
        újítása a boltív volt, amellyel nagyobb távolságot lehetett áthidalni, mint az oszlopokra
        fektetett
        gerendákkal. Az egymás után elhelyezett boltívek alkották a dongaboltozatot, a boltív
        elforgatásával
        jött létre a kupola. A boltívet nagy teherbírása miatt az ablakok, kapuk kialakításánál,
        többszintes
        épületek, hidak, vízvezetékek építésénél is alkalmazták.
    </p><br>
    <p class="paragrafus">
        A római építészet jellemző alkotása a Pantheon. Az előcsarnok gerendáit korinthoszi oszlopok
        tartják, oromfala timpanonos. A templomot félgömb kupola fedi, amelynek tetőnyílásán áramlik
        be a
        fény. A tágas belső teret boltíves fafülkék veszik körül. Az épület eredetileg a római
        istenek közös
        temploma volt.
    </p><br>
    <p class="paragrafus">
        A Római Birodalmat fejlett városi civilizáció jellemezte. A legnagyobb és legpompásabb város
        Róma
        volt, de a kisebbek is hasonlítottak rá. Rómában, Itáliában és a romanizált provinciák
        városaiban
        római istenek templomai álltak a fórumon, a római Colosseumhoz hasonlóan a nimes-i, a pulai
        vagy az
        aquincumi afiteátrumban is gladiátorviadalokat rendeztek, de színházak, cirkuszok, fürdők is
        épültek
        a lakosság szórakoztatását szolgálva. A bérházak és a villák a római formákat utánozták. Sok
        helyen
        fennmaradtak jellegzetes boltíves vízvezetékek – a rómaiak építészeti szakértelmét mutatva.
        Gondoskodni kellett a megfelelő lejtésről, hogy a fölső szint csatornájában vezetett víz
        eljusson a
        városba. Az alsó szintet útként, hídként is használták.
    </p>
</main>