<main id="article">
    <h1>
        <span class="title">Aranybulla</span>
    </h1>

    <section>
        <h2>Aranybulla keletkezése</h2>
        <p>
            1222-ben a fehérvári törvénylátó napon a szerviensek kényszerítették a királyt, II. Andrást, hogy jogaikat
            törvényben erősítse meg.
        </p>

        <p>
            Bulla:függőpecséttel ellátott oklevél.</p>
        <p> Több arany pecsétes oklevelünk is van, de az 1222-es Aranybulla azért egyedi, mert a középkori
            jogalkotás alapja, jogok gyűjteménye.
        </p>
        <p>
            1939-ben bevezették a második Zsidótörvényt Magyarországon, amely súlyosan diszkriminálta a zsidó közösséget és
            a következő intézkedéseket tartalmazta:
        </p>
    </section>

    <section>
        <h2>Aranybulla tartalma</h2>
        <ul>
            <li>31 cikkelyből állt.</li>
            <li>A királynak meg kellett ígérnie, hogy egész vármegyét eztán nem adományoz el.</li>
            <li>Évi törvénynapot kellett tartania Fehérváron.</li>
            <li>Korlátozta az idegenek méltóságviselését. Megtiltotta, hogy mohamedánok vagy zsidók kamarai tisztségviselők
                legyenek.</li>
            <li>Tilos lett idegennek földet adományozni.</li>
            <li>Tisztségek halmozása tilos volt (kivéve: király, királyné, nádor, bán).</li>
            <li>Tized fizetése csak terményben kötelezhető.</li>
            <li>A pénzről: olyan legyen, mint III. Béla alatt és évenként csak egyszer lehessen rontani.</li>
            <li>Kimondta a szerviensek és az egyház adómentességét.</li>
            <li>A szerviensek jogaival külön 11 pont foglalkozott:</li>
            <ol type="1">
                <li>személyük és birtokaik védelme</li>
                <li>adómentesség</li>
                <li>csak a király vagy a nádor ítélkezhetett felettük, bírói ítélettel</li>
                <li>hadba csak külső támadás esetén kötelesek vonulni</li>
                <li>támadó háború esetében csak a király pénzén</li>
                <li>birtokaiknak öröklését is szabályozta</li>
            </ol>
            <li>Híres az utolsó, 31. cikkely, az ellenállási záradék. Ebben kimondják, amennyiben az uralkodó nem tartja be
                a törvényekben foglaltakat, a nemesek királlyal szemben ellenállhatnak. = Ellenállási záradék. Az ellenállás
                alapvetően felségárulás, de ebben az esetben jogos, jogukban áll.</li>
        </ul>
    </section>

    <section>
        <h2>Aranybulla következményei</h2>
        <a href="{{dir}}/img/A1.jpg" target="_blank">
            <img src="{{dir}}/img/A1.jpg" alt="Aranybulla" class="img_h img-fluid">
        </a>
        <p>
            II. András részt engedett az egyháznak a sókereskedelemből is.
        </p>
        <p>
            Az ellenállási záradék helyébe a „kiközösítés” (egyházi) joga került.
        </p>
        <p>
            A szerviensek újra szervezkedni kezdtek, mert helyzetük nem változott, a törvények ellenére is kiszolgáltatottak
            maradtak. /Zalai szerviensek levele 1232-ben./ Sikerült elérniük, hogy szolgabírákat választhassanak maguknak.
            Ekkortól nevezzük nemesi vármegyéknek a korábban királyi vármegyéket. Ezek lettek a földbirtokosok önkormányzati
            szervei.
        </p>

        <p>
            Igazi jelentősége az Aranybullának, hogy a nemesi előjogokat körülbástyázta (összegezte) és hivatkozási alap
            lett a későbbiek során.
        </p>
        <p>
            Mivel a királyi hatalom gyenge volt, 1231-ben az egyház újraszövegeztette és kihagyta a tized pénzben való
            szedésének a tilalmát.
        </p>
    </section>

    <section>
        <h2>Források</h2>
        <ul>
            <li>
                Murvai Mónika
            </li>
        </ul>
    </section>
</main>