<main id="article">
    <h1>
        <span class="title">Rákosi Korszak</span>
        <span class="sub-title">(1948 (vagy 1949) - 1953 (vagy 1956))</span>
    </h1>

    <section>
        <h2> Nagy Függetlenségi Népfront létrehozása
        </h2>
        <p> “A pártok temetője”
        </p>
        <p> ⇒ Proletár diktatúra (egypártrendszer, nincsenek civil szervezetek)
        </p>
    </section>

    <section>
        <h2>1949. aug. 20.: Alkotmány elfogadása</h2>
        <ul>
            <li>
                Magyarország népköztársaság
            </li>
            <li>
                Köztársasági elnök helyett: Elnöki Tanács (államfői pozíció)
            </li>
            <li>
                Önkormányzatok helyett: Tanácsrendszer → Nincs függetlenség
            </li>
            <li>
                Nem biztosítja az alapvető emberi jogokat
            </li>
            <li>
                Törvényhozó hatalom szerepe formálissá válik (üres lesz)
            </li>
            <li>
                Nem érvényesül a hatalommegosztás elve
            </li>
            <li>
                Szovjet mintának a követése
            </li>
            <li>
                Ünnepek átírása, új nevek
            </li>
        </ul>
    </section>

    <section>
        <h2>Egyház politika</h2>
        <ul>
            <li>
                Iskolák államosítása
            </li>
            <li>
                <a href="https://hu.wikipedia.org/wiki/Mindszenty_J%C3%B3zsef">Mindszenty József</a>t (egyházi érsek) börtönbe csukják
            </li>
            <li>
                Felosztották a szerzetesrendeket
            </li>
            <li>
                Ellenőrzés: 1951.: Állam- és Egyházi Hivatal
                <p class="list-sub">
                    ⇒ megszűnik az önállóság
                </p>
            </li>
            <img src="{{dir}}/img/1.jpg" alt="Mindszenty József hercegprímás a vádlottak padján.">
        </ul>
    </section>

</main>