<main id="article">
    <p class="paragrafus">
        <img class="imgszoveg" src="{{dir}}/img/varos2.jpg">
        A középkori
        városok a 11-12. században Nyugat-Európában és Észak-Itáliában a távolsági kereskedelem
        útvonalai mentén, (útkereszteződések, folyami, tengeri kikötők) és igazgatási központok
        közelében alakultak ki. A város alapja a kereskedők lerakatai mellett létrejött piac volt. A
        falvak kézművesei is oda települtek, mivel könnyebb volt a nyersanyaghoz hozzájutni és a
        termékeket eladni. A városok királyi, földesúri vagy egyházi területeken jöttek létre, ezért
        a
        birtokosok feudális szolgáltatásokat követeltek a lakosoktól, és bíráskodtak is felettük. A
        polgárok azonban önkormányzatokat, kommunákat hoztak létre, és a földesúri függéstől való
        szabadulásra törekedtek. Ezt az uralkodók támogatták, mert adóbevételeik növekedését várták
        a
        gazdagodó városoktól. Ezért kiváltságlevélben mentesítették a polgárok közösségét a feudális
        terhek alól. A földesúri bíráskodás helyett a bíróválasztás jogával ruházták fel a
        városokat.
        Megkapták a szabad vásártartás és gyakran az árumegállítás jogát, és a polgárok adójukat
        évente
        egyszer, közvetlenül az uralkodónak fizették. A városi polgárság ezzel mind a nemességtől,
        mind
        a jobbágyságtól különböző jogállású társadalmi csoporttá vált. Nem minden város tudta
        megszerezni a kommunajogot, így a királyi és a földesúri fennhatóság alá tartozó városok
        lakói
        eltérő jogokkal rendelkeztek.
    </p>
</main>