<main id="article">
    <h1>A középkori város és céhes ipar</h1>
            
    <section>
        <p>
            A városok száma és lakossága a korai középkorban nem volt jelentős. Európa történelmében az ugrásszerű fejlődés a 10-11. században kezdődött. A földművelő népességből ekkor vált ki az a kézműves, iparos réteg, amely a városi lakosság egyik részét adta. Ekkortól lendült fel a kereskedés is, amely a városok másik legfontosabb fejlesztője lett.
        </p>
    </section>

    <section>
        <h2>A mezőgazdaság forradalma és hatásai:</h2>

        <ul>
            <li>a 10. század végére Európa nyugati felén véget értek a zsákmányszerző-hódító támadások (vikingek, magyarok, arabok), ezért megnőtt a népesség száma</li>
            <li>a hagyományos művelési módszerekkel nem tudtak elegendő élelmet termelni, ezért új eszközök alkalmazásával (szügyhám, nehézeke, lópatkó, borona) áttértek a háromnyomásos földművelésre</li>
            <ul>
                <li>következménye: jelentősen nőtt a terméshozam</li>
                <li>a jobb megélhetés újabb népességrobbanást eredményezett, ezért újabb földeket kellett művelés alá vonni (erdőirtással, mocsarak és tavak lecsapolásával)</li>
                <li>az elegendő élelem lehetővé tette a kézművesek kiválását a mezőgazdaságból, akik a kereskedők által kedvelt vásárhelyekre költöztek, és velük közösen létrehozták a középkori városokat.</li>
            </ul>
        </ul>
    </section>

    <a target="_blank" href="https://4.bp.blogspot.com/-31iy_KmzB0w/WRGF6-xxf4I/AAAAAAAAAWs/d7rzHCrPxLM1qWCdKiLGDlKVXYIbtK1oACPcBGAYYCw/s1600/K%25C3%25B6z%25C3%25A9pkori%2Bpiszkos%2Bv%25C3%25A1ros.jpg"><img src="https://4.bp.blogspot.com/-31iy_KmzB0w/WRGF6-xxf4I/AAAAAAAAAWs/d7rzHCrPxLM1qWCdKiLGDlKVXYIbtK1oACPcBGAYYCw/s1600/K%25C3%25B6z%25C3%25A9pkori%2Bpiszkos%2Bv%25C3%25A1ros.jpg" alt=""></a>

    <section>
        <h2>A városok kialakulásának helyszínei:</h2>

        <ul>
            <li>földrajzi helyek: folyók és hegység találkozása, folyók torkolata, utak kereszteződése, hegyvidék és síkság találkozása</li>
            <li>királyi, egyházi, földesúri székhely (várak-kolostorok)</li>
            <li>nyersanyaglelőhelyek (bányák)</li>
            <li>kereskedelmi-piaci központok (vásárok)</li>
            <li>ókori városok romjai</li>
        </ul>
    </section>
    
    <section>
        <h2>A városok típusai:</h2>
        <ul>
            <li>szabad királyi városok: a király alá tartoznak, pl.: vásárvárosok és bányavárosok</li>
            <li>mezővárosok: a földesúr alá tartoznak</li>
        </ul>
    </section>
    
    <section>
        <h2>A kommuna</h2>
        <p>
            A városi polgárok kommunákat, városi önkormányzatokat alapítottak. A városi önkormányzat egyik alapvető eleme a szabad elöljáró-választás volt: a polgárok az önkormányzat testületeit és tisztségviselőit, a város papjait, később parlamenti követeit is maguk választhatták meg. A városi önkormányzat legjelentősebb szerve a magisztrátus volt. A szűk körű magisztrátus döntött a legfontosabb kérdésekben:
        </p>
        <ul>
            <li>polgárjog megadása,</li>
            <li>ellenőrizte a városi tisztségviselőket,</li>
            <li>ítélkezett büntetőügyekben,</li>
            <li>intézte a város gazdasági ügyeit, valamint az adószedést is</li>
            <li>gondoskodott a rend fenntartásáról, az oktatásról, az egészségügyről,</li>
            <li>irányította a városfalak, a templomok, a városháza, a hidak építését,</li>
        </ul>
        <p>
            Az állami adókat a város egy összegben fizette az uralkodónak, ennek összegét szerződésben rögzítették. Hogy a polgárok közül ki mennyivel járul hozzá az adókhoz, azt a magisztrátus döntötte el. Merőben új jelenség volt, hogy az adó nagyságát a vagyoni helyzethez mérték, vagyis a városokban megjelent az arányos közteherviselés.
        </p>
    </section>

<a target="_blank" href="https://m.blog.hu/to/toriora2/image/utvonalak.jpg"><img  src="https://m.blog.hu/to/toriora2/image/utvonalak.jpg" alt=""></a>
 
<section>
<h2>Városi kiváltságok</h2>

<ul>
    <li>különleges királyi kiváltságok</li>
    <ul>
        <li>a várost fallal kellett körbekeríteni (kiváltság és kötelezettség)</li>
        <li>
            vásártartás joga: heti vásárokat és országos vásárokat tarthattak</li>
        <ul>
        <li>Jelentős kiváltság volt az árumegállító jog. Ennek értelmében a városokon áthaladó kereskedőket feltartóztathatták útjukban, áruik kirakására kényszeríthették őket, a kereskedőknek vásárvámot kellett fizetniük és nem térhettek el a helyi árszabástól. (I. Károly – Bécs árumegállító joga – Visegrádi királytalálkozó)
        </li>
        <li>A középkori városi polgárság</li>
        <ul>
            <li>A polgár személyében szabad volt, nem állt magánföldesúri joghatóság alatt, közvetlenül a király alá tartozott.
            </li>
            <li>A polgár mentes volt minden jobbágyi szolgáltatás alól, szabadon választhatta meg lakóhelyét, lehetett tulajdona, városi ingatlana, ezeket szabadon örökíthette.
            </li>
            <li>DE: Fizetnie kellett királyi és az egyházi adókat, viselte továbbá a városi önkormányzat terheit. A polgárnak katonáskodnia is kellett, háború esetén köteles volt védeni a várost.
            </li>
            <li>A városok társadalma:</li>
            <ul>
                <li>Patríciusok:</li>
                <ul>
                    <li>legvagyonosabb kereskedők, iparosok, telektulajdonosok, akik közül sokan nemesi származással is dicsekedhettek
                    </li>
                    <li>Kezükben a város irányítása (legfontosabb tisztségek)
                    </li>

                </ul>
                <li>Plebejusok: városi középrétegek
                </li>
                <ul>
                    <li>Elszegényedett kézművesek, cselédek, hajósok, bérmunkások, kontárok, koldusok, csavargók
                    </li>
                    <li>polgárjoggal nem rendelkező szegények (Polgárjogban csak azok részesülhettek, akiknek tetemes vagyonuk volt vagy a céhek tagjai voltak, így a plebejusok kizárattak a polgárjogból.)
                    </li>
                </ul>
            </ul>
        </ul>
        
        
        </ul>
    </ul>
    <li>Kialakult az a szokás, hogy a földesura elől a városba szökő paraszt egy év és egy nap elteltével szabad emberré lett („a városi levegő szabaddá tesz”), viszont ez természetesen nem jelentette a polgárjog automatikus megszerzését is egyben.
    </li>
</ul>
</section>

<section>
    <h2>A céhek</h2>
    <p>Azok az iparosok, akik ugyanazon mesterséget űzték, érdekeik védelmére céhekbe tömörültek (német, 'egyesülés, egylet'). Mivel a piac szűk volt, ezért úgy védekeztek a túltermelés, az egymás közötti verseny és az idegen áruk ellen, hogy szigorúan szabályozták a termelés és az értékesítés egész folyamatát. A szerveződés alkalmas volt arra, hogy a céh egy-egy árucikk gyártását monopolizálni tudja. Ennek volt egyik jele, hogy minden eszközzel üldözték a kontárokat, azokat az iparosokat, akik nem tudtak bekerülni a céhbe, vagy máshonnan költöztek a városba. A céh biztonságot nyújtott tagjainak, mert a verseny kizárásával áruinak biztos piacot garantált. A céh élén egy-két céhmester állt, akiket a mesterekből álló céhgyűlés választott. A céhbe nem volt könnyű bekerülni, ehhez hosszú évekig inaskodni kellett egy mesternél, majd a legény már mint segéd dolgozhatott tovább tanítójánál. Ezután a legény vándorútra kelt, városról városra járt, és idegen iparosoknál csiszolta tovább tudását. Ha hazatért, elkészítette mestermunkáját, amelyet a céh vezetői bíráltak el. Ha elfogadták, akkor a legényből mester lehetett, és saját műhelyt alapíthatott – ha tudott. (rengeteg pénz)
    </p>
</section>
<section>
    <h2>Távolsági kereskedelem</h2>
    <p>A céhek nagy mennyiségű árut állítottak elő, amit főként a városok piacán és annak vonzáskörzetében értékesítettek. A kereskedők felvásárolták a felesleget és távolabbi vidékekre szállították, így kialakult a távolsági kereskedelem, melynek Európán kívüli legtávolabbi úti célja India és Kína volt.
    </p>
    <p>A korban két nagy tengeri útvonal alakult ki:</p>
    <ul>
        <li>északi Hanza-kereskedelem</li>
        <ul>
            <li>1160-ben alapított kereskedő szövetség, melybe az Észak európai városok tartoztak
            </li>
            <li>Az áru az Északi tengeren keletről érkezett (Oroszország)</li>
            <li>Alapító tagjai Lübeck és Hamburg</li>
            <li>Főleg tömegárukat szállítottak (pl. szarvasmarha, juh, gabona, fa, prém)</li>
        </ul>
        <li>déli Levantei-kereskedelem</li>
        <ul>
            <li>a Karaván útón keletről érkező, majd a földközi tengeren továbbszállított áruk, melyek főleg Észak Itáliába, Genova vagy Velencébe mentek
            </li>
            <li>főleg keleti luxuscikkeket importált Európába, cserébe a rengeteg nemesfémért (15. században aranyéhséghez vezetett " földrajzi felfedezések)
            </li>
            <li>A két kereskedelmi térség összekapcsolását és az áruk mozgását belső, szárazföldi utakon bonyolították le: Velence és Genova városától, Észak-Itálián át, Franciaország területén keresztül, Champagne-t érintve Flandriáig terjed
            </li>
            <li>a Gibraltári-szorosnál találkozott is a két kereskedelmi útvonal</li>
        </ul>
    </ul>
</section>
<section>
    <h2>Források</h2>
    <ul>
        <li><a href="http://toritema.hupont.hu/14/a-kozepkori-varos-es-a-cehes">Hupont</a></li>
    </ul>
</section>
    </main>
